:root {
    --color1: #071F61;
    --color2: #557BE6;
    --color3: #1047E0;
    --color4: #4B5266;
    --color5: #0C37AD;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 1.3rem;
    font-family: 'Roboto Mono', monospace;
}
body{
    background: rgb(247,249,255);
background: linear-gradient(0deg, rgba(247,249,255,1) 0%, rgba(85,123,230,1) 100%);
}

a {
    text-decoration: none;
}

header {
    width: auto;
    min-height: 13vh;
    padding: 0 5vw;

    display: flex;
    align-items: center;

    flex-direction: row;

    
}



.title-header {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    height: auto;
    padding: 0.3rem;
}

#white-TEXT {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    color: white;

}


.page-content {
    margin-left: 3rem;

}

.redirect-header {
    font-size: 1rem;
    color: var(--color1);
    font-weight: 900;
    margin: 0 1vw;
    transition: font-size 1s;
}

.redirect-header:hover {
    font-size: 1.2rem;
    filter: grayscale(100);
}

main{
    min-height: 100vh;
    padding: 5vh 10vw;
}

.content-title{
margin-bottom: 2vh;
font-size: larger;
}

.content-text{
font-weight: 300;
}

#content-boxs{
    margin-top:10vh;
    display: grid;
    grid-template-columns: auto auto auto auto ;
}

.box{
    width: 13rem;
    margin:1rem 0.3rem;
    min-height: 8rem;
    background-color: #4B5266;
}

.asset-box{
    width: 13rem;
}

@media(max-width:1350px) {
    #content-boxs{
        grid-template-columns: auto auto auto ;
    }
}

@media(max-width:1000px) {
    #content-boxs{
        grid-template-columns: auto auto ;
    }
}
@media(max-width:700px) {
    #content-boxs{
        grid-template-columns: auto ;
    }
    .box{
        width: auto;

    }
}

@media(max-width:1024px) {
    header {
        flex-direction: column;
    }

    .title-header {
        width: 10ch;
        padding: 0 0.2rem;
    }
    .page-content {
        margin-left: none;
    
    }
}