
#box-container{
 margin-top: 5vh;
}
.box-title{
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.box-content-text{
    max-width: 820px;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

#box-content{
    width: auto;
    min-height: 100px;
    padding: 0;
    display: grid;
    grid-template-columns:50%  50%;
}
.box{
    list-style-type: none;
    background: blue;
    width: 80%;
    min-height: 15vh;

    border-radius: 10px;
    padding: 15vh 1rem 0 1rem;

    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;

}

.box:hover{
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.box-name{
    color:white;
    font-size: 22px;
    line-height: 120%;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    font-weight: 400;
}

.box-text{
    color:white;
    max-width: 820px;
    font-size: 15px;
    line-height: 150%;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    font-weight: 300;
}

#box-1{
    background-color: var(--color1);
}
#box-2{
    background-color: var(--color2);    
}
#box-3{
    background-color: var(--color3);    
}
#box-4{
    background-color: var(--color4);    
}